@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400&display=swap');

@import "utilities";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Roboto', sans-serif;
    
}
body{
    background-color: $bg-color-primary ;
    width: 100vw;
    max-width: 100%;
}
main{
    display: flex;
    flex-direction: column;
}
h1,h2,h3,h4{
    font-weight: 900;
    letter-spacing: -2px;
}
h1{
    margin: 0;  
}
button{
    padding: 1rem;
}
hr{
    border-color: rgba(128, 128, 128, 0.2);
    width: 110% ;
    margin-bottom: 0.5rem;
}
p{
    line-height: 3.5vh;
    @media (orientation:landscape){
        line-height: 5vh;
    }
    
}