@import "utilities";

.header {

    background-color: $bg-color-header;
    width: 100%;
    height: $size-height-header;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    z-index: 10000;

    &__logo{
        z-index: 1000;
        padding: 1rem 1.5rem 1.5rem 0.5rem;
        background-color: $bg-color-header-btn;
        border-bottom-right-radius: 100%;
        img{
            max-width: 22vw ;
            
        }
        &:hover{
            padding: 1.5rem 2rem 2rem 1rem;
            transform: scale(1.2);
            transition: all 0.3s;
        }
        
    }
    &__button-menu{
        padding: 0.5rem 0.5rem 1.5rem 1.5rem;
        border:none;
       
        z-index: 1000;
        margin-top: 0;
        border-bottom-left-radius: 100%;
        background-color: $bg-color-header-btn;

        
        button{
            font-size: 9vw;
            background-color: transparent;
            border: none;
            color: $icon-color-nav-bar;
        }
        
    }
    &__nav-bar{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;//calc(100% - $size-height-header);
        position: fixed;
        //top:$size-height-header;
        top:0;
        background-color: $bg-color-header-btn;
        clip-path: circle(3rem at 100% 0);
        transition: all 1s ;
        z-index: 100;
        
        
        ul{
            height: 45%;        
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-evenly;
            padding-top: 2rem ;
            
            li{
                list-style: none;
                
                a{
                    text-decoration: none;
                    font-size: 2rem;
                    font-weight: 600;
                    color: $font-color-nav-bar;
                    
                    &:active, &:hover{
                        color: $font-color-link_hover-navbar;
                        transition: color 0.2s;
                    }
                    @media (min-width: 700px) {
                        &{
                            font-size: 3rem;
                        }
                    }
                }
                
            }
        }
        img{
            width: 60%;
        }
        
        @media (max-width: 900px) and (orientation: landscape) { 
            &{
               flex-direction: row;
               

               ul{
                height: 100%;
                padding-top: 0;
                order:2
               }
               img{
                width: 40%;
               }
            }
         }
         @media (min-width: 900px)and (orientation: landscape){
            &{
                transition: none;
            }
         }
       
    }
    @media (min-width: 900px)and (orientation: landscape)  {
        &{
            background-color: $bg-color-pc-header;
            height: 8vh;
            &__logo{
                padding: 1rem 2rem 2rem 1rem;
                // border-bottom: 3px solid $border-color-navbar;
                // border-right: 3px solid $border-color-navbar;
                a{
                    img{
                        max-width: 10vw ;
                         
                     }
                }
               
            }

            &__button-menu{
                display: none;
            }

            &__nav-bar{
                display: flex;
                width: 100%;
                height: 8vh;
                flex-direction: row;
                align-items: center;
                justify-content: flex-end;
                background-color: $bg-color-pc-navbar;
                clip-path: none;
                //transition: all 1s ;

                ul{ 
                    width: 85vw;
                    flex-direction: row;
                    justify-content: space-evenly;
                    padding-top: 0 ;
                    
                    li{
                        
                        a{  
                            font-size:2vw;
                            font-weight: 600;
                            color: $color-font-pc-nav-bar;
                        }
                        
                    }
                }
                img{
                    display: none;
                }
            }

        }
    } 
    @media (orientation:landscape){
        &{
            
            &__logo{
                
                a{
                    img{
                        max-width: 10vw ;
                         
                     }
                }
               
            }
            &__button-menu{     
                
                button{
                    font-size: 4vw;
                  
                }
            }    
        }    
    }
}

.open{
    background-color: $bg-color-nav-bar;
    clip-path: circle(120% at 100% 0);
    pointer-events: all;
    // z-index: 10;
}
