@import "utilities";

.main__contact{
    @include main-section;
    &__content{
        display: flex;
        flex-direction: column;
        align-items: center;
        &__image{
            @include main-section-image;
        }
    
        &__text{
            h2{
                font-size: 7vw;
                padding-bottom: 1rem;
            }
            
        }
    }
  


    form{
        @include letter-bounce ;
        @include card;
        
        width: 100%;
        h2{
            width: 100%;
            text-align: center;
            font-size:11vw;
            font-weight: 900;
            margin-bottom: 0.5rem;
            color: var(--font-color-legend-form-contact);
        }
        .input-group{
            width: 100%;
            input, textarea{
            
                background-color: var(--bg-color-contact-input);
                border-radius: 10px;
                font-size: 4vw;
            }
           
            textarea{
                min-height: 10rem;
                margin-bottom: 1.2rem;
            }
            
        }
        
        
    }
    @media (max-width: 900px)and (orientation: landscape){
        &{  
            
            
            flex-direction: row;
            justify-content: space-evenly;
            &__content{
                position: sticky;
                top: 0;
                text-align: center;
                align-self: flex-start;
                width: 70%;
                &__image{
                    
                    width: 85%;
                    margin-top: -3rem;
                   
                 
                }

                &__text{
                    align-self: flex-start;
                    max-width: 80%;
                    h2{
                        width: 120%;
                        text-align: center;
                        font-size: 3vw; 
                        padding-bottom: 0;
                    }

                }
            }

            form{
                padding: 2rem;
                display: flex;
                
                flex-wrap: wrap;
                width: 100%;
                h2{
                    font-size:6vw;
                }
                .input-group{   
                    input, textarea{
                        font-size:3vw ;
                    }
                    textarea{
                        min-height: 30vh;
                       
                    }
                }
                
              
                .form-button{
                    .button{
                        width: 35%;
                        font-size: 2vw;
                    }
                }
                
               
            }
        }
    }
    @media (min-width: 900px)and (orientation: landscape){
        &{  
            padding: 4.5rem 4rem 2rem 4rem;
            
            flex-direction: row;
            justify-content: space-evenly;
            &__content{
                text-align: center;
                width: 70%;
                &__image{
                    width: 85%;
                    margin-top: -3rem;
                 
                }

                &__text{
                    align-self: flex-start;
                    max-width: 80%;
                    h2{
                        width: 120%;
                        text-align: center;
                        font-size: 2.6vw; 
                        padding-bottom: 0;
                    }

                }
            }

            form{
                padding: 2rem;
                display: flex;
                
                flex-wrap: wrap;
                width: 100%;
                h2{
                    font-size:6vw;
                }
                .input-group{   
                    input, textarea{
                        font-size: 1.8vw ;
                    }
                    textarea{
                        min-height: 20vh;
                       
                    }
                }
                .half-input{
                    width: 45%;
                }
              
                .form-button{
                    .button{
                        width: 35%;
                        font-size: 2vw;
                    }
                }
                
               
            }
        }
    }
}
.form-button{
    display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 10vh;
   @media (min-width: 900px)and (orientation: landscape){
    
   }
}