@import "utilities";

.main{
    
    &__presentation{
        height: calc(100vh - 4.5rem);
        display: flex;
        flex-direction:  column;
        align-items: center;
        justify-content: space-evenly;
        padding: 5rem 2rem 1rem 2rem;
        margin-bottom: 12vh;
        @media  (orientation: landscape){
        margin-bottom: 30vh;
        
        }
        &__content{
            padding-top: 1rem;
            padding-left: 0.7rem;
            width: 100% ;
                h1{
                    color: $font-color-subtitle-presentation;  
                }
            div.type-js-1, div.type-js-2, div.type-js-3{
               
                
                h1,h2,h3,h4{
                color: $font-color-content-presentation;
                font-size: 12vw;
            }
            }
            

            span{
                font-size: 3vw;
                letter-spacing: 1.5px;
                font-weight: 400;

                &::before{
                    content : "<"
                }
                &::after{
                    content :">"
                } 
            }
            
        }
        &__img{
            
            width: 80%;
            border-radius: 50%;
            text-align: center;
            background-color: $bg-color-img-presentation;
            img{
                width: 100%;  
            } 
        }
        &__button-container{
            width: 100%;
            padding: 3rem 0;
            display: flex;
            align-items: center;
            justify-content: center;
            a{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                .button{
                    width: 40%;
                }
            
            }
                
        } 
         @media (max-width: 900px) and (orientation: landscape) { 
            &{
                @include grid-about(1.7rem 6rem 12vh 7.5rem, 5vw, 1.8vw, 0.5rem);
                
                &__button-container{
                    margin-top: 2rem;
                    a{
                        .button{
                            width: 25%;
                            font-size: 3vw;
                            padding: 0.5rem;
                                }  
                    }
                             
                }
            }
             
         }
        @media (min-width: 900px) and (orientation: landscape){
            @include grid-about(6rem 13rem 3rem 9rem, 6vw, 2vw, 3rem);
            &__button-container{
                a{
                    .button{
                        margin-top: 2rem;
                        width: 25%;
                        font-size: 3vw;
                        padding: 1rem;
                    } 
                }
                      
        }

        }
        // @media (max-width:780px) and (max-height: calc(100vw + (100vw * 0.34))), (min-width: 900px) and (orientation:portrait){
        //     .main__presentation__img{
        //         width: 60% ; 
        //     }
        // }
    }
}

