$color-light-primary : #5a2bd1;
$color-light-secondary: #7D7B79;
$color-light-third: #ff4346;
$color-light-fourt: #E3DFDC;
$color-light-background:#fdf9f6;

$color-dark-primary : #a333fb ;
$color-dark-secondary: #959090;
$color-dark-third: #ff4346;
$color-dark-fourt: #333233;
$color-dark-background:#1d1b1d;
:root {
//background color
//background principal
// --bg-color-form-whitenes : #fdf9f6;

//background principal
--bg-color-primary: #fdf9f6;
--bg-color-pc-navbar : #fdf9f6;

--bg-color-nav-bar: #dae5fe;

//primary color
//components
--bg-color-contact-label-hover: #5a2bd1;
//globals
--font-color-h2-content: #5a2bd1 ;
//header
--font-color-nav-bar: #5a2bd1;
--color-font-pc-nav-bar: #5a2bd1;
--bg-color-header-btn:#5a2bd1;
//presentantion
--font-color-content-presentation: #5a2bd1;
//project
--text-color-projects-description : #5a2bd1;
//contact
--font-color-legend-form-contact:#5a2bd1;
//footer
--font-color-footer-phrase: #5a2bd1;

//seconday color
//components
--bg-color-progress_bar: #7D7B79;
--border-color-contact-input-active: #7D7B79;
--font-color-contact-label : #7D7B79;
//globals
--font-color-p-text-area : #7D7B79;


//thtird color
//components
--button-color: #ff4346;//listo
//header
--bg-color-link-hover_active-navbar: #ff4346;
//presentantion
--bg-color-img-presentation : #ff4346;//listo
//project
--bg-color-projects-button: #ff4346;
--border-color-projects-button:#ff4346;
//about
--link-color-about-hover: #ff4346;

//fourth color
//components
--bg-color-contact-input:#E3DFDC;
//globals
--bg-color-text-content: #E3DFDC;//rgb(227,223,220) ;
//tools
--bg-color-tools-grid_element: #E3DFDC;
//footer
--bg-color-footer: #E3DFDC;


//black
//components
--font-color-fake_navigator:black;
//efects
--effect-cursor-typer:black;
//footer
--font-color-footer-copyrigth: black;
--icon-color-footer-social:black;
//about
--link-color-about : black;
//contact
--font-color-h2-inage-contact:black;
//project
--font-color-project-element-text:black;
--font-color-input-contact: black;
//tools
--font-color-tools-element-text:black;

//white
//components
--color-icon-share_button:white;
--buton-color-text: white;//listo
--font-color-contact-label-hover: white;
//header
--icon-color-nav-bar: white;
--font-color-link_hover-navbar: white;
--border-color-navbar: white;
//about
--bg-color-image-animation-about:white;
//projects
--icon-color-projects-button : white;

//mix colors
//components

    --switch-color-sun_moon: #fe9f5b;
    --switch-color-bg: #e7e8eb;
    --switch-color-stars: blue;
    --switch-text-color: #000000;
    --switch-disabled-text-color: transparent;
    
--shadow-color-card: rgba(0, 0, 0, 0.6);
--bg-color-fake_navigator:#ddd;
--shadow-color-input:rgba(0,0,0,0.7);
--border-color-progress_bar:#e6f3fa;
//globals
--hr-color:rgba(128, 128, 128, 0.2);
--shadow-boton-pdf: rgba(0,0,0,.5);
--bg-color-pdf-button:#F70909;
//presentation (listo)
--font-color-subtitle-presentation: rgb(43, 39, 39);
//projects
--bg-color-project-element-description: rgba(227,223,220, .8);

//transparent
//header
--bg-color-header: transparent;
--bg-color-pc-header : transparent;
//footer
--bg-color-footer-image : transparent;
//about
--border-color-image-animation-about:  transparent;
//sizes
--size-height-header : 1vw;

  }
  [data-theme="dark"] {
    //paleta
     $color-dark-primary : #a333fb ;
     $color-dark-secondary: #959090;
     $color-dark-third: #ff4346;
     $color-dark-fourt: #333233;
     $color-dark-background:#1d1b1d;
 

    //background principal
    --bg-color-primary: #222c4d;
    --bg-color-pc-navbar : #222c4d;

    --bg-color-nav-bar: #3a3b3d;

    //primary color
    //components
    --bg-color-contact-label-hover: #851ce1;
    //globals
    --font-color-h2-content: #851ce1 ;
    //header
    --font-color-nav-bar: #851ce1;
    --color-font-pc-nav-bar: #851ce1;
    --bg-color-header-btn:#851ce1;
    //presentantion
    --font-color-content-presentation: #851ce1;
    //project
    --text-color-projects-description : white;
    //contact
    --font-color-legend-form-contact:#851ce1;
    //footer
    --font-color-footer-phrase: #851ce1;

    //seconday color
    //components
    --bg-color-progress_bar: #94a1b2;
    --border-color-contact-input-active: #94a1b2;
    --font-color-contact-label : #94a1b2;
    //globals
    --font-color-p-text-area : #94a1b2;

    //thtird color
    //components
    --button-color: #ff4346;//listo
    //header
    --bg-color-link-hover_active-navbar: #ff4346;
    //presentantion
    --bg-color-img-presentation : #ff4346;//listo
    //project
    --bg-color-projects-button: #ff4346;
    --border-color-projects-button:#ff4346;
    //about
    --link-color-about-hover: #ff4346;

    //fourth color
    //components
    --bg-color-contact-input:#020e33;
    //globals
    --bg-color-text-content: #020e33;//rgb(227,223,220) ;
    //tools
    --bg-color-tools-grid_element: #020e33;
    //footer
    --bg-color-footer: #020e33;

    //black
    //components
    --font-color-fake_navigator:white;
    //efects
    --effect-cursor-typer:white;
    //footer
    --font-color-footer-copyrigth: white;
    --icon-color-footer-social:white;
    //about
    --link-color-about : white;
    //contact
    --font-color-h2-inage-contact:white;
    --font-color-input-contact:white;
    //project
    --font-color-project-element-text:white;
    //tools
    --font-color-tools-element-text:white;

    //white
    //components
    --color-icon-share_button:white;
    --buton-color-text: white;//listo
    --font-color-contact-label-hover: black;
    //header
    --icon-color-nav-bar: black;
    --font-color-link_hover-navbar: white;
    --border-color-navbar: black;
    //about
    --bg-color-image-animation-about:black;
    //projects
    --icon-color-projects-button : black;

    //mix colors
    //components

        --switch-color-sun_moon: #fef35b;
        --switch-color-bg: #031447;
        --switch-color-stars: rgb(231, 210, 22);
        --switch-text-color: #FFF;
        --switch-disabled-text-color: transparent;
        
    --shadow-color-card:rgba(255, 255, 255, 0.6);
    --bg-color-fake_navigator:rgb(97, 97, 97);
    --shadow-color-input:rgba(0,0,0,0.7);
    --border-color-progress_bar:#e6f3fa;
    //globals
    --hr-color:rgba(197, 197, 197, 0.2);
    --shadow-boton-pdf: rgba(255, 255, 255, 0.5);
    --bg-color-pdf-button:#F70909;
    //presentation (listo)
    --font-color-subtitle-presentation: white;
    //projects
    --bg-color-project-element-description: rgba(83, 82, 80, 0.8);

    //transparent
    //header
    --bg-color-header: transparent;
    --bg-color-pc-header : transparent;
    //footer
    --bg-color-footer-image : transparent;
    //about
    --border-color-image-animation-about:  transparent;
    //sizes
    --size-height-header : 1vw;

  }

/* :root {
    --primary-color: #fe9f5b;
    --secondary-color: #e7e8eb;
    --tertiary-color: #FFffff;
    --text-color: #000000;
    --disabled-text-color: #b9bdc9;
    --bg-color: #ffffff;
  }
  [data-theme="dark"] {
    --primary-color: #FFE5B5;
    --secondary-color: #0a0d12;
    --tertiary-color: #ffffff;
    --text-color: #ffffff;
    --disabled-text-color: #31374c;
    --bg-color: #1C2138;
  }*/





//mixins
@mixin grid-about($a-padding-val, $a-c-h1-font-size-val, $a-c-span-font-size-val, $a-b-c-padding-top-val) {
    &{  
        height: 100%;
        padding: $a-padding-val;//1.7rem 5rem 1rem 7.5rem;
        
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: auto auto;
        grid-template-areas: 
            "content img"
            "button img";

        &__content{
            height: 100%;
            padding-top: 0.4rem;
            padding-left: 0;

            grid-area: content;
            div.type-js-1, div.type-js-2, div.type-js-3{
             

            h1,h2,h3,h4{
                font-size: $a-c-h1-font-size-val;
            }
            
            }
            span{
                font-size: $a-c-span-font-size-val;
            }
        }

        &__img{
            width: 120%;
            grid-area: img;
        }

        &__button-container{
            padding-top: $a-b-c-padding-top-val;
            padding-right: 2rem;

            grid-area: button;
            justify-self:center;
        }


    }
    
}
@mixin main-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem 1rem 2rem ;
    margin-bottom: 12vh;
    @media (orientation: landscape){
        margin-bottom: 30vh;
        margin-top: 3rem ;
    }
}  

@mixin main-section-text{
    h2{
        font-size: 10vw;
        padding-bottom: 1rem;
        color:var(--font-color-h2-content);

    }
    p{
        font-size: 5vw;
        color : var(--font-color-p-text-area);
        text-align: justify;
        padding-bottom: 1rem;
    }
    a{
        color: var(--link-color-about);
        font-size: 5,5vw;
        font-weight: 600;
        &:hover, &:active{
            color: var(--link-color-about-hover);
        }
    }
 
}
@mixin main-section-image {
        width: 50%;
        text-align: center;
        padding-bottom: 1rem;
        img{
            width: 100%;  
        }
}

@mixin delay-animation($delayInSeconds) {
    -webkit-animation-delay: $delayInSeconds;
    animation-delay: $delayInSeconds;
    
}
@mixin duration-animation($inSeconds) {
    -webkit-animation-duration: $inSeconds;
    animation-duration: $inSeconds;
    
}

@mixin card {
    background-color: var(--bg-color-text-content);
    box-shadow: 21px 21px 7px -7px var(--shadow-color-card);
    padding: 1.5rem;
    border-radius: 2rem;

}
@mixin delay-dance-h{
    &:nth-child(2){ animation-delay:.05s; }
    &:nth-child(3){ animation-delay:.1s; }
    &:nth-child(4){ animation-delay:.15s; }
    &:nth-child(5){ animation-delay:.2s; }
    &:nth-child(6){ animation-delay:.25s; }
    &:nth-child(7){ animation-delay:.3s; }
    &:nth-child(8){ animation-delay:.35s; }
    &:nth-child(9){ animation-delay:.4s; }
    &:nth-child(10){ animation-delay:.45s; }
    &:nth-child(11){ animation-delay:.5s; }
    &:nth-child(12){ animation-delay:.55s; }
    &:nth-child(13){ animation-delay:.6s; }
    &:nth-child(14){ animation-delay:.65s; }
    &:nth-child(15){ animation-delay:.7s; }
    &:nth-child(16){ animation-delay:.75s; }
    &:nth-child(17){ animation-delay:.8s; }
    &:nth-child(18){ animation-delay:.85s; }
    &:nth-child(19){ animation-delay:.9s; }
     }

     @mixin letter-bounce  {
        &:hover  .dance-h span { 
        animation:letter-bounce .6s;
        @include delay-dance-h;
      }
     }